<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>

    <!-- 挂号凭证报表打印方式:0#热敏打印机动态库，1#报表文件-->
    <add key="挂号凭证报表打印方式" value="0" />

    <!-- 发卡工本费-->
    <add key="发卡工本费" value="0" />

    <!-- 医疗机构编码配置-->
    <add key="MedicalCode" value="" />
    <add key="医院名称" value="西北妇女儿童医院" />
    <add key="项目版本标识" value="西北妇女儿童医院"/>
    <add key="发卡卡类型" value="储值卡" />
    <add key="发卡费用类别" value="自费" />
    <add key="发卡默认密码" value="111111" />
    <add key="现金预存充值方式" value="自助现金" />
    <add key="银行预存充值方式" value="银行卡" />
    <add key="不能挂号的科室" value="25,143" />
    <add key="不能挂号的医生USERID" value="" />
    <!--多个医生USERID以英文,号分隔-->
    <add key="使用自助缴费的执行科室ID" value="130" />
    <!--多个执行科室ID以英文,号分隔-->
    <add key="住院预交金充值方式_现金" value="07" />
    <add key="住院预交金充值方式_银行卡" value="09" />
    <add key="住院预交金充值方式_门诊预交金" value="35" />

    <!--智方、杏和-->
    <add key="LIS厂商类型" value="省医院智方" />
    <add key="LIS报告存放路径" value="\\192.168.23.116\lis_pdf" />

    <!--医技预约执行科室配置-->
    <add key="超声预约科室ID" value="130" />
    <add key="脐血流预约科室ID" value="131" />
    <add key="胎心监护预约科室ID" value="132" />
    <add key="心电预约科室ID" value="133"/>

    <!--医嘱用语备注维护-->
    <add key="银医测试A" value="需要憋尿n" />

    <!--医院概况-->
    <add key="yygk" value="http://www.baidu.com" />
    <!--就诊指南-->
    <add key="jzzn" value="http://www.163.com" />
    <!--专家介绍-->
    <add key="zjjs" value="http://www.qq.com" />
    <!--科室介绍-->
    <add key="ksjs" value="http://192.168.40.67/sfycmp/showGlobal.asp?parentId=153" />
    <!--院务公开-->
    <add key="yljg" value="http://www.360.cn" />
    <!--收费标准-->
    <add key="sfbz" value="http://www.360.cn" />

    <!--启用主窗体-->
    <add key="ClassName" value="FrmMainAuto" />

    <!--logo图片-->
    <add key="logoImage" value="logo.png" />

    <!--挂号提示-->
    <add key="挂号提示" value="重要事项：陕西省参保（医保，合疗）患者，门诊诊查费纳入基本医疗报销支付范围，需要报销的患者请在窗口挂号，自助机只能自费挂号！" />
    <!--挂号科室提示信息-->
    <!--<add key="1127" value="" />-->

    <!--<add key="预约挂号一级科室分类"
         value="儿科|五官|外科|产科|五官" />
    <add key="儿科" value="102|25|58|143|1131|1130|135|199|125|99" />
    <add key="五官" value="1197|1131|1198|1199" />
    <add key="外科" value="1200|1201|1131|1202" />
    <add key="产科" value="1245|1204|1131|1205" />-->

    <add key="网络支付商户ID" value="0000f73e238044b6a9248c5f333f4195" />
    <add key="微信交易测试" value="0000f" />

    <add key="省医院身份证照片路径" value="1111111111111111111" />
    <add key="省医院门禁灯" value="1" />

    <add key="禁用现金" value="1" />
    <add key="禁用银行卡" value="1" />
    <add key="禁用微信" value="1" />
    <!--0：不启用 1：启用-->
    <add key="是否启用号源六天预约"  value="1" />
    <!--logo图片-->
    <add key="医疗机构代码" value="66666666" />
    <add key="BrCodeImage" value="barCode.png" />

    <!--挂号医生显示排序规则-->
    <add key="班次顺序" value="晚班>全天>下午>上午" />
    <add key="职称顺序" value="副主任医师>主任医师>2主任医师" />
    <add key="挂号医生排列顺序设置" value="0" />
    <add key="产前诊断接口" value="http://localhost:8080/axis2/services/PDService" />
    <!--科室挂号开始时间-->
    <add key="科室挂号开始时间" value="儿科/08:00|眼科/09:00" />
  </appSettings>
</configuration>